/* Styles pour l'en-tête */
header {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
}

/* Styles pour les cartes des Pokémon */
.pokemon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.pokemon-card {
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}

.pokemon-card img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-hp {
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

/* Style pour la carte de la machine à régénérer */
.machine-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.machine-card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  background-color: #f5f5f5;
}
