/* CSS pour le Pokemon Health Center */

/* Réinitialisation des styles par défaut */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("./assets/img/melissa-yoyotte-asset.jpg");
  background-size: cover;
}

/* CSS pour le header Pokemon */

header {
  background-color: #368ff4c3;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: #e79e0e;
  text-shadow: 2px 2px #000;
  letter-spacing: 2px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  
}

header p {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px #000;
  letter-spacing: 1px;
}


.healthy-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.waiting-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(61, 146, 146, 0.205);
}

.pokemon-card {
  width: 300px;
  background-color: #ffffff8c;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.pokemon-card img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-hp {
  margin-bottom: 10px;
}

.button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.buttonAll {
  background-color: #dd0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #45a049;
}

.machine-container {
  display: flex;
  justify-content: center;
}

.machine-card {
  width: 300px;
  background-color: #ffffff7e;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress-bar-inner {
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.hp-empty {
  background-color: #f44336 !important;
}

.hp-low {
  background-color: #ffc107 !important;
}

.hp-high {
  background-color: #4caf50 !important;
}

.scroll-container {
  height: 100%;
  overflow: auto;
  display: flex;


}
h2 {
  margin-top: 50px;
  font-size: 50px;
  color: #fcfcfc;
  text-shadow: 2px 2px #000;
  letter-spacing: 2px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  background-color: #9c282881;
}

